*.*~
*.bak
*-cache
*.lo
*.log
*.o
*.pyc
*.swp
*.swo
*.stamp
*.trs
*.tar.gz
*.tar.bz2
.deps
.libs
makefile
makefile.in
aclocal.m4
autom4te.cache/
build*
config.h
config.h.in
config.log
config.status
configure
data/*.service
depcomp
gtk-doc.make
install-sh
intltool-*
libtool
missing
m4/
simple-mtpfs
simple-mtpfs.config
simple-mtpfs.creator
simple-mtpfs.creator.user
simple-mtpfs.files
simple-mtpfs.includes
stamp-h1
.ycm_extra_conf.py

